<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="mysource_files/favicon.ico">
    <title>Implantação de Sistemas em Nuvem - Microsoft Azure</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="mysource_files/style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Turma AZ9-N-23-1</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://raflisboa.github.io/cv/">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://raflisboa.github.io/cv/">Contato</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="container my-5">
        <h1>Implantação de Sistemas em Nuvem com Microsoft Azure</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://learn.microsoft.com/pt-br/">Microsoft Learn</a></li>
            <li class="breadcrumb-item"><a href="https://azure.microsoft.com/pt-br/">Microsoft Azure</a></li>
            <li class="breadcrumb-item active" aria-current="page">Azure</li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-sm-3">
            <nav>
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Introdução</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Recursos</a>
                </li>
                <li class="nav-item">
                  <a class="